body {
  text-align: center;
}

.card h4 {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.3rem;
  color: rgba(0,0,0,0.6);
}

.card img {
  height: 360px;
  width: 360px;
  padding: 15px;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .card img {
    height: 330px;
    width: 335px;
    padding: 5px;
  }
}

.character {
  margin: 15px;
  padding: 10px;
}

.character img {
  height: 350px;
  width: 350px;
  object-fit: cover;
}

.character h4 {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.4rem;
  color: rgba(254, 75, 75);
}

.character p {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: rgba(0,0,0,0.6);
}

