* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.navbar {
  background-color: rgba(74, 143, 120);
  color: #fff;
  height: 80px;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar img {
  height: 4rem;
}

.navbar h4 {
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 20px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 300;
}

.get-meme {
  margin: 15px 35px;
}

.card {
  margin: 25px 15px;
}

.card-img {
  margin: 5px;
  height: 300px;
  width: 300px;
  object-fit: contain;
}

.btn {
  margin: 5px 15px;
  background-color: rgba(74, 143, 120);
  border: 1px solid rgba(74, 143, 120);
  color: #fff;
}

.meme {
  margin: 50px auto;
  padding: 10px 0;
}
